nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;  
    width: 1500px;
    height: 131px;
    align-items: center;
    
    
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-size: 1.5em;
}
.navbar-big-screen{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 87px;
    margin-bottom: 0;
}
.menu-icon{
    display: none;
}
#menu-title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    /* width: 262px; */
    /* margin-left: 120px; */
}

/* Media Quiries  */

/* Mobile devices  */

@media only screen and (min-width: 360px) and (max-width:687px){
    nav{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;  
    width: 360px;
    height: 81px;
    align-items: center;
    }
    #menu-title{
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        width: 162px;
        
    }
    nav.navbar-big-screen{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .link{
        display: none;
    }
    .navbar-big-screen{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 35px;
        margin-bottom: 22px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .menu-icon{
        display: block;
        margin-left: 16px;
        margin-top: 35px;
    }
    
    #menu-title{
        color: #3a3a3a;
        margin-left: 16px;
        margin-top: 35px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        
    }
    .cart{
        margin-left: 16px;
        margin-top: 35px;
    }
}

/* Tablet Divices  */
@media only screen and (min-width: 688px) and (max-width:992px){
    nav{
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;  
        width: 688px;
        height: 81px;
        align-items: center;
        }
        #menu-title{
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            width: 162px;
            
        }
        nav.navbar-big-screen{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .link{
            display: none;
        }
        .navbar-big-screen{
            margin-left: 16px;
            margin-right: 36px;
            margin-top: 35px;
            margin-bottom: 22px;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
        .menu-icon{
            display: block;
            margin-left: 36px;
            margin-top: 35px;
        }
        
        #menu-title{
            color: #3a3a3a;
            margin-left: 16px;
            margin-top: 35px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            
        }
        .cart{
            margin-left: 16px;
            margin-top: 35px;
        }
}
/* Big Screen */
@media (min-width: 993px) {
    nav{
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;  
        width: 993px;
        height: 131px;
        align-items: center;
        }
        
nav a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-size: 1.5em;
}
.navbar-big-screen{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 87px;
    margin-bottom: 0;
}
.menu-icon{
    display: none;
}
#menu-title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    /* width: 262px; */
    /* margin-left: 120px; */
}

}